{% extends 'base.html' %}

{% block titulo %}
    Login
{% endblock %}

{% block body %}
    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="card p-4" style="width: 100%; max-width: 400px;">
            <h2 class="text-center mb-4">Login</h2>
            <form method="POST" action="{{ url_for('login') }}">

                {{ form.hidden_tag() }}

                <div class="mb-3">
                    {{ form.username.label(class="form-label") }}
                    {{ form.username(class="form-control", placeholder="Digite seu usuário") }}
                </div>

                <div class="mb-3">
                    {{ form.password.label(class="form-label") }}
                    {{ form.password(class="form-control", placeholder="Digite sua senha") }}
                </div>
                <div class="d-grid">
                    {{ form.submit(class="btn btn-primary") }}
                </div>
            </form>
            <div class="text-center mt-3">
                <a href="{{ url_for('register') }}">Não tem uma conta? Registre-se</a>
            </div>
        </div>
    </div>
{% endblock %}
